<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zbh.mapper.ZbhMapper">

    <resultMap type="com.ruoyi.zbh.domain.YunLeiServer" id="YunLeiServerResult">
        <result property="id"    column="id"    />
        <result property="hostName"    column="hostName"    />
        <result property="serverIp"    column="serverIp"    />
        <result property="serverScore"    column="serverScore"    />
        <result property="lastUpdateTime"    column="lastUpdateTime"    />
        <result property="tm"    column="tm"    />
    </resultMap>

    <resultMap type="com.ruoyi.zbh.domain.NonGenuineSoftware" id="NonGenuineSoftwareResult">
        <result property="ip"    column="ip"    />
        <result property="softName"    column="soft_name"    />
        <result property="version"    column="version"    />
        <result property="isUpdate"    column="is_update"    />
        <result property="installTime"    column="install_time"    />
        <result property="corp"    column="corp"    />
    </resultMap>

    <select id="selectBigDataIndex" resultType="java.util.Map">
        select CONCAT(DATE_FORMAT(tm, '%Y-%m-%d %H:%i'), ': ', item) as info from 360_ebda_1 where id=1
    </select>

    <select id="selectCollectorOffline" resultType="java.util.Map">
        select CONCAT(DATE_FORMAT(tm, '%Y-%m-%d %H:%i'), ': ', item) as info from 360_ebda_1 where id=5
    </select>

    <select id="selectErrorMessagesV2" resultType="java.util.Map">
        select CONCAT(DATE_FORMAT(tm, '%Y-%m-%d %H:%i'), ': ', note, ': ', item) as info, id from 360_ebda_1 where id in (2, 3, 4) and item!=''
    </select>

    <select id="selectNetworkWarningAndDataLake" resultType="java.util.Map">
        select 
            CONCAT(DATE_FORMAT(sj, '%Y-%m-%d %H:%i'), ': ', score) as warning,
            CONCAT(DATE_FORMAT(dwg_sj, '%Y-%m-%d %H:%i'), ': ', dwg_fault, ' 年检:', dwg_zcnj) as dwg_info,
            DATE_FORMAT(数据湖_tm, '%Y-%m-%d %H:%i') as lake_tm,
            数据湖_num as lake_num,
            TIMESTAMPDIFF(MINUTE, 数据湖_tm, NOW()) as lake_dt
        from 360_ebda where id=1
    </select>

    <select id="selectNonGenuineStats" resultType="java.util.Map">
        select count(*) as pc_count, DATE_FORMAT(max(tm), '%Y-%m-%d %H:%i:%s') as update_time, DATE_FORMAT(max(tm_1), '%Y-%m-%d %H:%i:%s') as check_time from 360v10_list
    </select>

    <select id="selectSoftwareCount" resultType="int">
        select count(*) from 360v10_software
    </select>

    <select id="selectYunLeiServers" resultMap="YunLeiServerResult">
        select id,hostName,serverIp,serverScore,DATE_FORMAT(lastUpdateTimeStr, '%Y-%m-%d %H:%i:%s') as lastUpdateTime,DATE_FORMAT(tm, '%Y-%m-%d %H:%i:%s') as tm from 云垒
    </select>

    <update id="executeSp360Zbh">
        <!-- exec SP_360_ZBH -->
        select 1
    </update>

    <select id="selectNonGenuineSoftwareList" resultMap="NonGenuineSoftwareResult">
        select a.ip, b.soft_name,b.version,b.is_update,DATE_FORMAT(b.install_time, '%Y-%m-%d') as install_time,b.corp 
        from 360v10_list a, 360v10_software b, 360v10_非正版化统计 c  
        where a.key_id = b.key_id and c.id=b.id and c.key_id=a.key_id
        and b.soft_name not like '%WPS Office  2023 For Chnenergy Group%'
    </select>
</mapper>
